<!DOCTYPE html>
<html>
	<head>
		<script src="//static.csssuf.net/jquery.js"></script>
		<script src="/static/js/uikit.min.js"></script>
		<link rel="stylesheet" href="/static/css/uikit.min.css">
		{% block head %}
			<title>Base template - do not use</title>
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
		{% endblock %}
		<div id="alerts">
			{% for category, message in get_flashed_messages(with_categories = True) %}
			<div class="uk-alert uk-alert-{{ category }}">
				<a href="" class="uk-alert-close uk-close"></a>
				<p>{{ message | safe }}</p>
			</div>
			{% endfor %}
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
