{% extends "navbar.html" %}
{% block head %}
<title>Hello, world!</title>
{% endblock %}
{% block content %}
<div class="uk-grid containerc">
	{% if session.username %}
		<div class="uk-width-1-2">
			<div class="uk-panel uk-panel-box uk-panel-box-primary">
				<h3 class="uk-panel-title">Welcome, {{ session.username }}!</h3>
				<hr />
				<p>Welcome to wedge, the Wikipedia game.</p>
			</div>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-panel uk-panel-box uk-panel-box-primary">
				<h3 class="uk-panel-title">{{ session.username }}'s stats at a glance:</h3>
				<hr />
				<p>Your number of edits (that wedge knows of): {{ len(get_edits(session.uid)) }}</p>
				<p>Total number of edits (by wedge users): {{ len(get_edits()) }}</p>
				<p>Your total score: {{ get_total_score(session.uid) }}</p>
				<p>Your average score for a single edit: {{ get_avg_score(session.uid) }}</p>
			</div>
		</div>
	{% else %}
		<div class="uk-width-1-2 uk-container-center">
			<div class="uk-panel uk-panel-box uk-panel-box-primary">
				<div class="uk-panel-title">What is wedge?</div>
				<hr />
				<p>wedge makes Wikipedia editing more fun. It analyzes your edits and rates
				   them by how constructive they are, and awards you points correspondingly.
				   Track your progress by getting instant feedback on your edits, and rack up
				   achievements as your points increase. <!--You can even compare with your
				   friends, as wedge posts to social media sites including Facebook and
				   Twitter. -->So <a href="/register">join today</a>, and become an active 
				   and helpful contributor to Wikipedia while competing with other wedge
				   users to be the most constructive!</p>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
