{% extends "base.html" %}
{% set navbar = [
	('/', 'home', 'Home', 'home'),
	('/userinfo', 'userinfo', 'User Info', 'gear'),
	('/userstats', 'userstats', 'My Statistics', 'bar-chart'),
	('/achievements', 'achievements', 'My Achievements', 'trophy'),
    ('/achievement_list', 'achievement_list', 'List of Achievements', 'tasks'),
	('/leaderboard', 'leaderboard', 'Top 25 Leaderboard', 'star'),
    ('/train', 'train', 'Train the Classifier', 'eye-open')
] -%}
{% set thispage = thispage | default('home') %}
{% block navbar %}
<nav class="uk-navbar">
    <a href="/" class="uk-navbar-brand"><img src="/static/logo.png" style="height:21px;" alt="logo"/></a>
	<a href="#sidebar" data-uk-offcanvas class="uk-navbar-toggle"></a>
	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav uk-navbar-attached">
				{% if session.uid %}<li><a href="/logout">Log out</a></li>
				{% else %}<li><a href="#loginmodal" data-uk-modal>Log in</a></li>
				<li><a href="/register">Create account</a></li>
				{% endif %}
		</ul>
	</div>
</nav>
<div id="sidebar" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
			{% for href, id, caption, icn in navbar %}
			<li{% if id == thispage %} class="uk-active"{% endif %}>
                <a href="{{ href|e }}">
                    <div class='uk-grid'>
                        <div class='uk-width-5-6'>{{ caption|e }}</div>
                        <div class='uk-width-1-6'><i class="uk-icon-{{ icn|e }}"></i></div>
                    </div>
                </a>
            </li>
			{% endfor %}
			<li>
				<div id="searchid" class="uk-offcanvas">
					<div id="uk-offcanvas-bar">
						<form class="uk-search" uk-data-search="{source:'/getusers.json'}">
							<input class="uk-search-field" type="search" placeholder="Search for users...">
							<button class="uk-search-close" type="reset"></button>
						</form>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div id="loginmodal" class="uk-modal">
	<div class="uk-modal-dialog uk-modal-dialog-slide">
		<a href="" class="uk-modal-close uk-close"></a>
		<br />
		<div>
			<form class="uk-form uk-form-horizontal" action="{{ url_for('login') }}" method="POST">
				<div class="uk-form-row">
					<label class="uk-form-label" for="username">Username: </label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="text" id="username" name="username" placeholder="Username">
					</div>
				</div>
				<div class="uk-form-row">
					<label class="uk-form-label" for="password">Password: </label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="password" id="password" name="password" placeholder="hunter2">
					</div>
				</div>
				<br />
				<div class="uk-align-right">
					<button class="uk-button" value="submit"><i class="uk-icon-signin"></i> Log in</button>
				</div>
			</form>
			<br />
			<div class="uk-align-center">
				<p class="uk-align-center">Don't have an account? <a href="/register">Create one here!</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
