{% extends "base.html" %}
{% set navbar = [
	('/', 'home', 'Home', 'home'),
	('/userinfo', 'userinfo', 'User Info', 'gear'),
	('/userstats', 'userstats', 'My Statistics', 'bar-chart'),
	('/achievements', 'achievements', 'My Achievements', 'trophy')
] -%}
{% set thispage = thispage | default('home') %}
{% block navbar %}
<nav class="uk-navbar">
	<a href="/" class="uk-navbar-brand">wedge</a>
	<a href="#sidebar" data-uk-offcanvas class="uk-navbar-toggle"></a>
	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav">
				{% if session.uid %}<li><a href="/logout">Log out</a></li>
				{% else %}<li><a href="/login">Log in</a></li>
				<li><a href="/register">Create account</a></li>
				{% endif %}
		</ul>
	</div>
</nav>
<div id="sidebar" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
			{% for href, id, caption, icn in navbar %}
			<li{% if id == thispage %} class="uk-active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}   <i class="uk-icon-{{ icn|e }}"></i></a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
