{% extends "navbar.html" %}
{% block head %}
        <title>Training data entry</title>
{% endblock %}
{% block content %}
        <style>
            td.diff-addedline{background:#ccffcc;}
            td.diff-deletedline{background:#ffffaa;}
            .diffchange{color:red;font-weight:bold;text-decoration:underline}
        </style>
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-title" id="editsummary">{{ editsummary }}</div>
            <div class="uk-table" id="diff1"><table style="margin-left:auto; margin-right:auto;">{{ diff|safe }}</table></div>
            <table style="margin-left:auto; margin-right:auto;">
                <tr>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="diffid" value="{{ diffid }}" />
                            <input type="hidden" name="constructive" value="1" />
                            <input class="uk-button" type="submit" value="Good" />
                        </form>
                    </td>
                    <td>
                        <a class="uk-button" href="/train/">Neutral</a>
                    </td>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="diffid" value="{{ diffid }}" />
                            <input type="hidden" name="constructive" value="0" />
                            <input class="uk-button" type="submit" value="Bad" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
{% endblock %}
