{% extends "navbar.html" %}
{% block head %}
<title>Verify User</title>
{% endblock %}
{% block content %}
<div class="uk-grid">
    <div class="uk-width-1-1">
        <div class="containerc">
            <p>To verify your username, please add this content to the wedge.js file in your userspace (if I had the Wikipedia username "Wedge", I would make it "User:Wedge/wedge.js"):</p>
            <pre>wedge-verify (your wedge username)</pre>
            <p>You should then be able to sign up.</p>
        </div>
    </div>
</div>
{% endblock %}
